body{
    font-family: cursive;
    background-color: #e3e2df;
}
.myheader{
    background-color: #016f98;
    color: white;
    text-align: center;
    padding: 2px;
}
nav ul{

list-style-type: none;
margin:0;
padding:0;
background-color: #444;
overflow: hidden;

}
nav li{
    float: left;
    margin-left: 300px;
}
nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}